<a href="https://colab.research.google.com/github/wendyunji/Git-Tutorial/blob/master/accident_type_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#파일 직접 업로드하기
from google.colab import files
myfile = files.upload()

Saving accident_dataset.csv to accident_dataset.csv

In [ ]:
data = pd.read_csv(io.BytesIO(myfile['accident_dataset.csv']),encoding= 'CP949')
data.head()

           사건번호                         사건명  ... 부상합계(선원+여객+기타)  총합(사망+실종+부상)
0  IC-2016-0189               레저보트 거북호 침수사건  ...              0             0
1  IC-2016-0116  어선 제212영남호, 중국어선 선명미상 충돌사건  ...              0             0
2  MP-2017-0015       어선 만성호 무등록선박 예천호 충돌사건  ...              0             0
3  IC-2017-0182               어선 선명무 운항저해사건  ...              0             0
4  IC-2016-0222            레저보트 서해킹호 기관손상사건  ...              0             0

[5 rows x 31 columns]

In [ ]:
data = data[['해양사고종류(통계용)','해양사고발생(월)','해양사고발생시간대','해양사고발생지역(통계용)','톤수범위(통계용)','선박용도(통계용)','사건명']]

In [ ]:
data['rate'] = 1
data.head()

  해양사고종류(통계용)  해양사고발생(월) 해양사고발생시간대  ... 선박용도(통계용)                         사건명 rate
0          침수          5    12-16시  ...    수상레저기구               레저보트 거북호 침수사건    1
1          충돌          3      0-4시  ...        어선  어선 제212영남호, 중국어선 선명미상 충돌사건    1
2          충돌         11    20-24시  ...        어선       어선 만성호 무등록선박 예천호 충돌사건    1
3        운항저해          5      4-8시  ...        어선               어선 선명무 운항저해사건    1
4        기관손상          5    16-20시  ...    수상레저기구            레저보트 서해킹호 기관손상사건    1

[5 rows x 8 columns]

In [ ]:
data['해양사고발생(월)'].head(2)

0    5
1    3
Name: 해양사고발생(월), dtype: int64

In [ ]:
data['해양사고발생시간대'].head(2)

0    12-16시
1      0-4시
Name: 해양사고발생시간대, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
count_vector = CountVectorizer(ngram_range=(1,3))

In [ ]:
c_vector_time = count_vector.fit_transform(data['해양사고발생시간대'])

In [ ]:
c_vector_time.shape

(15208, 12)

In [ ]:
c_vector_place = count_vector.fit_transform(data['해양사고발생지역(통계용)'])
c_vector_place.shape

(15208, 72)

In [ ]:
c_vector_tone = count_vector.fit_transform(data['톤수범위(통계용)'])
c_vector_tone.shape

(15208, 52)

In [ ]:
c_vector_usage = count_vector.fit_transform(data['선박용도(통계용)'])
c_vector_usage.shape

(15208, 7)

In [ ]:
c_vector_title = count_vector.fit_transform(data['사건명'])
c_vector_title.shape

(15208, 46546)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
title_c_sim = cosine_similarity(c_vector_title, c_vector_title).argsort()[:,::-1]

In [ ]:
title_c_sim.shape

(15208, 15208)

In [ ]:
def get_recommend_type_list(df, accident_title, top=30):
  target_type_index = df[df['사건명'] == accident_title].index.values

  sim_index = title_c_sim[target_type_index, :top].reshape(-1)
  sim_index = sim_index[sim_index != target_type_index]
  result = df.iloc[sim_index]
  return result

In [ ]:
get_recommend_type_list(data, accident_title='어선 제72해영호 선원사망사건')

      해양사고종류(통계용)  해양사고발생(월) 해양사고발생시간대  ... 선박용도(통계용)                 사건명 rate
14815     화재 · 폭발          7    12-16시  ...        어선      어선 제72해영호 화재사건    1
1783         안전사고          3     8-12시  ...        어선     어선 제1태진호 선원사망사건    1
13954        안전사고          9     8-12시  ...        어선       어선 해명호 선원사망사건    1
1713         안전사고          2    16-20시  ...        어선   어선 제602대양호 선원사망사건    1
4376         안전사고         12    12-16시  ...        어선       어선 태양호 선원사망사건    1
2322         안전사고          6     8-12시  ...        어선      어선 삼영3호 선원사망사건    1
14022        안전사고         11    12-16시  ...        어선       어선 만성호 선원사망사건    1
1547         안전사고         11    12-16시  ...        어선       어선 준봉호 선원사망사건    1
10952        안전사고         11    16-20시  ...        어선      어선 민성1호 선원사망사건    1
13995        안전사고         10    20-24시  ...        어선      어선 금강3호 선원사망사건    1
11434        안전사고         10     8-12시  ...        어선    어선 제97길영호 선원사망사건    1
13981        안전사고          9      4-8시  ...        어선       어선 남진호 선원사망사건    1
9535         안전사고          9    20-24시  ...        어선       어선 선영호 선원사망사건    1
6957         안전사고          4    12-16시  ...        어선     어선 그린스타호 선원사망사건    1
14628        안전사고          1      4-8시  ...        어선       어선 한성호 선원사망사건    1
7908         안전사고          4    16-20시  ...        어선       어선 제일호 선원사망사건    1
4554         안전사고          3      4-8시  ...        어선    어선 제52진광호 선원사망사건    1
14961        안전사고         11    12-16시  ...        어선  어선 제2015영신호 선원사망사건    1
13950        안전사고          2    20-24시  ...        어선    어선 309부영호 선원사망사건    1
13158        안전사고         10     8-12시  ...        어선       어선 승원호 선원사망사건    1
900          안전사고          5     8-12시  ...        어선      어선 금잔디호 선원사망사건    1
2814         안전사고         10      4-8시  ...        어선       어선 신경호 선원사망사건    1
2271         안전사고          4    20-24시  ...        어선   어선 제502남양호 선원사망사건    1
9515         안전사고          6     8-12시  ...        어선       어선 영창호 선원사망사건    1
14641        안전사고          8     8-12시  ...        어선   어선 제205동경호 선원사망사건    1
7703         안전사고          8      4-8시  ...        어선      어선 용성2호 선원사망사건    1
14643        안전사고         10    12-16시  ...        어선  어선 제9008신광호 선원사망사건    1
383          안전사고         10    16-20시  ...        어선       어선 동운호 선원사망사건    1
13895        안전사고          4     8-12시  ...        어선    어선 제27세길호 선원사망사건    1

[29 rows x 8 columns]